# ignore python caches
__pycache__/
**/**/__pycache__/
**/__pycache__/
# ignore vscode settings
.vscode/
.env
# ignore .DS_Store
.DS_Store
# ignore virtual environment
venv/

# ignore all python __caches
**/**/__pycache__/
**/__pycache__/